restAPI/node_modules/
.vscode/
docker-compose-marquez/neo4j-server/data/
docker-compose-marquez/neo4j-server/logs/
docker-compose-marquez/kafka/kafka/
docker-compose-marquez/airflow/dags/__pycache__/
docker-compose-marquez/airflow/dags/demo/__pycache__/
restAPI/csv/
docker-compose-marquez/neo4j-server/import/
docker-compose-marquez/sparkjobs/output/
docker-compose-marquez/sparkjobs/metastore_db/
docker-compose-marquez/dags/__pycache__
docker-compose-marquez/import/
python-lineage-creation/helper_functions/__pycache__